h1 {
  color: red;
  text-decoration: underline;
}

p {
  color: gray;
}

/* pls send help - aici Pixeltabul nu e de acord ca am facut cerinta */
ol a {
  color: green;
  text-decoration: line-through blue;
}

h2 {
  font-weight: normal;
  text-shadow: 2px 2px 5px yellow;
}

/* pls send help - pare ca e o eroare cand dau culoare text-decorationului*/
h3 {
  text-shadow: 0 3px 5px green;
  text-decoration: underline dotted brown;
}

ul li {
  color: purple;
  text-decoration: underline;
}

b {
  color: yellow;
}

i {
  color: blue;
  font-weight: bold;
  text-decoration: line-through;
}
